{{> header }}    
{{> navbar }}
<div class="row">
    <div class="col">
        <h1>About {{ nombre }}</h1>
    </div>
    <div class="col">
        <a href="/"><img src="assets/images/logojornada.jpg" alt="jornada"></a>        
    </div>    
</div>       
       
{{> footer}}
{{> end }}